/* HEADER -------------------------------------------------------------------*/

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-banner {
    max-width: 90%;
}

/* Medium size breakpoint */
@media (max-width: 991.98px) {
    .logo-banner {
        max-width: 75%;
    }
}

/* Small size breakpoint */
@media (max-width: 767.98px) {
    .logo-banner {
        max-width: 90%;
    }
}

/* Extra small size breakpoint */
@media (max-width: 575.98px) {
    .logo-banner {
        max-width: 100%;
    }
}

/* NAV BAR ------------------------------------------------------------------*/

/* Large size breakpoint */
@media (max-width: 1199.98px) {
    .nav-link {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* Extra small size breakpoint */
@media (max-width: 575.98px) {
    .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }
}

/* Extra extra small size breakpoint */
@media (max-width: 350px) {
    .nav-link {
        padding-left: 6px;
        padding-right: 6px;
    }
}

/* FRONT PAGE CAROUSEL ------------------------------------------------------*/

.carousel {
    margin-bottom: 32px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}


/* Extra small size breakpoint */
@media (body img[src$=".png"],
body img[src$=".jpeg"],
body img[src$=".jpg"] {
    width: 300px;  /* Or whatever width you want */
    height: 300px;  /* Or whatever height you want */
    object-fit: cover;  /* This will cover the 300x300 box */
}) {
    .carousel {
        margin-bottom: 16px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
    }
    
}

/* PEOPLE GRID --------------------------------------------------------------*/

.card-custom .card-body {
    padding: 8px 0px 0px 0px;
    font-size: 14px;
}

.card-custom .card-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.card-custom .card-text {
    margin-bottom: 6px;
}

.card-custom-small .card-body {
    padding: 6px 0px 0px 0px;
    font-size: 14px;
}

.card-custom-small .card-title {
    margin-bottom: 6px;
    font-size: 16px;
}

.card-custom-small .card-text {
    margin-bottom: 6px;
}

/* PUBLICATIONS PAGE --------------------------------------------------------*/

.project-image {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(75, 74, 74);
    width: 120px;
    height:90px;
}

/* Small size breakpoint */
@media (max-width: 767.98px) {
    .project-image {
        border-radius: 5px 5px 5px 5px;
        width: 120px;
        height: 90px;
    }
}

.adjust-line-height {
    line-height: 1em;
    padding: 0;
    /* padding-bottom: 3px; */
    margin: 0;
  }

.pub_title {
    font-size: 18px;
    color: rgb(145, 155, 54);
    /* font-style: oblique; */
    font-weight: bold;
    line-height: 1em;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    /* padding-bottom: 1px; */
  }

.pub_author {
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 1em;
    padding: 0;
    padding-bottom: 1px;
    margin: 0;
    /* line-height: 80%; */
    /* padding-bottom: 1px; */
  }
  
.pub_venue {
    font-size: 15px;
    /* color: rgb(104, 104, 104); */
    font:lighter;
    /* font-style: italic; */
    /* font-family: serif; */
    /* font-family: "Times New Roman"; */
    /* font-family: "Lucida Console", "Courier New", monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: oblique;
    line-height: 1em;
    padding-bottom: 1px;
    margin-bottom: 0px;
    padding-bottom: 3px;
  }

.pub_nav {
    /* padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px; */
    margin: 0px;
    padding: 0px;
    /* line-height: 1em; */
    /* background-color: #3D99CE; */
    text-align: left;
  }
.pub_nav_li {
    /* align-self: center; */
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
    /* padding-top: 3px; */
    /* padding-bottom: 3px; */
    margin: 0;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    /* margin-left: 0; */
    /* margin-right: -10px; */
    /* line-height: 1em; */
    /* margin-right: -10px; */
    /* margin-left: -10px; */
    /* margin: 0 auto; */
    /* padding: 10px 20px; */
    border-radius: 3px 3px 3px 3px;
    /* background: #73AD21; */
    border: 1px solid rgb(75, 74, 74);

    /* padding: 3px; */
    /* padding-right: 3px; */
    /* padding-left: 3px; */
    /* width: 20px; */
    /* height: 25px;  */
    font-size: 13px;
    text-align: center;
}

.pub_nav_a {
    color: rgb(145, 155, 54);
    font-weight: bold;
    /* font-size: 8px; */
    /* text-align: center; */
    /* padding-right: px; */
    /* padding-left: 3px; */
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    /* padding: 10px; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-left: 3px; */
    /* margin-right: 3px; */

    /* margin-right: -10px; */
    /* margin-left: -10px; */
    /* width: 20px; */
    /* height: 1em;  */
}
  

/* SIZE BREAKPOINTS -----------------------------------------------------------
Large size breakpoint
@media (max-width: 1199.98px) {

}

Medium size breakpoint
@media (max-width: 991.98px) {

}

Small size breakpoint
@media (max-width: 767.98px) {

} 

Extra small size breakpoint
@media (max-width: 575.98px) {

}

Extra extra small size breakpoint
@media (max-width: 350px) {

} */